In [2]:
import os
import datetime

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

mpl.rcParams['figure.figsize'] = (8, 6)
mpl.rcParams['axes.grid'] = False

2022-05-11 10:12:31.454394: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-05-11 10:12:31.454536: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [3]:
df = pd.read_csv("data/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv")
df

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4363452,1587513360,6847.97,6856.35,6847.97,6856.35,0.125174,858.128697,6855.498790
4363453,1587513420,6850.23,6856.13,6850.23,6850.89,1.224777,8396.781459,6855.763449
4363454,1587513480,6846.50,6857.45,6846.02,6857.45,7.089168,48533.089069,6846.090966
4363455,1587513540,6854.18,6854.98,6854.18,6854.98,0.012231,83.831604,6854.195090
4363456,1587513600,6850.60,6850.60,6850.60,6850.60,0.014436,98.896906,6850.600000

In [4]:
def preprocess_data(data_frame):
  """
  Function that remove the rows with empty values
  Args:
    data_frame: Is a numpy.dataframe with cripto's price information
  Return: the new_data_fram filtered
  """
  columns = data_frame.columns
  NaN = data_frame[columns[1]] > 0
  new_data_frame = data_frame.loc[NaN]

  return new_data_frame

In [5]:
df_bitstamp = preprocess_data(df_bitstamp)
df_coinbase = preprocess_data(df_coinbase)

In [ ]:
df_bitstamp.to_csv("data/clean_df_bitstamp.csv")
df_coinbase.to_csv("data/clean_df_coinbase.csv")